:root{
  --negro: hsl(0, 0%, 17%);
  --gris: hsl(0, 0%, 59%);
  --regular: 400;
  -semiBold: 500;
  --bold: 700;
}

body{
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

.header{
  background-image: url('../src/img/pattern-bg.png');
  background-size: cover;
  height: 35vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.formSearch{
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo{
  color: white;
  font-size: 30px;
  font-weight: var(--semiBold);
}

.inputBusqueda{
  width: 50%;
  height: 51PX;
  border-radius: 16px 0px 0px 16px;
  outline: none;
  border: none;
  margin-left: 20px;
  padding-left: 40px;
}

.btn{
  border-radius: 0px 16px 16px 0px;
  border: none;
  width:60px;
  height: 110%;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: .2s ease-in-out;
  overflow: visible;
}

.btn:hover{
  background-color: var(--gris);
}

@media (max-width:768px) {
    .header{
      height: 500px;
      
    }
    .inputBusqueda{
      width: 90%;
    }
    .vl {
      display: none;
    }

    
}

.results{
  margin-top: 30px;
  background-color: white;
  width: 78%;
  display: flex;
  border-radius: 16px;
  justify-content: space-around;
  text-align: left;
  position: relative;
  top: 50px;
  border: 1px solid #ccc;
  font-weight: var(--semiBold);
  
}

.campo{
  display: flex;
  flex-direction: column;
  margin: 20px;

}

.tituloCampo{
  font-weight: var(--bold);
  font-size:13px;
  color: var(--gris);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.descripcionCampo{
  font-size: 22px;
  font-weight: var(--bold);
  color: var(--negro);

}

@media (max-width:768px) {
  .results{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: auto;
    width: 65vw;
    top: 10px;
    text-align: center;
  }
  .tituloCampo{
    margin: 0;
  }
}
.vl {
  border-left: 1px solid var(--gris);
  height: 70px;
  margin-top: 30px;
}

.leaflet-container{
  height: 65vh;
  z-index: -1;
}